extends ./layouts/onemg_labs.jade
block content
    .card
        .card-content
            b Hi {{order.full_name}},
            .subtle Thank You for your booking request with Tata 1mglabs
              |. You will receive a call/e-mail from our customer care confirming the booking shortly.
              div For any queries, you can email us at care@1mg.com or call us at 0124-4166666.
    include labs/regards.jade