.card
    .card-content
        .section-title.darker.section-title-large
                    .item-row.tat-info
                            .item-left-col
                                .item Following tests booking were cancelled
                    for booking in order.bookings_list
                        .item-row.tat-info
                            .item-left-col
                                a(href="{{booking.test_url}}") {{booking.test_name}}