.patient-table
    .section-title.darker.section-title-large
                .row
                    .left-col
                            span Patient Details
    .row
        .left-col.subtle
            .item Patient Name
        .right-col
            .item {{order.full_name}}
    .row
        .left-col.subtle
            .item Contact Number
        .right-col
            .item {{order.mobile_number}}



