p.
  Dear {{lab_name}},
  #[br]#[br]

  Greetings from 1mg.com. Please provide appointment confirmation for the below order.
  #[br]#[br]

  Patient Name: {{patient_name}} #[br]
  Age: {{patient_age}} #[br]
  Gender: {{patient_gender}} #[br]
  1mg Order ID: {{appointment_id}} #[br]
  Mobile Number: {{mobile_number}} #[br]
  E-Mail ID: {{email_id}} #[br]
  Test name: {{test_name}} #[br]
  MRP: Rs {{mrp}} #[br]
  Payable amount: Rs {{payable_amount}} #[br]
  Visit date/time: {{lab_visit_time}} #[br]#[br]

  For any queries, please contact on 9999334027. #[br]#[br]

  Thanks!#[br]
  1mg.com