.subtler
        span Click&nbsp;
        a(href="{{Hkp_url}}/trackOrder?orderId={{order.order_id}}&emailAddress={{order.email}}") here&nbsp;
        span  to cancel the order. View our cancellation policy for more details.