.para You have earned
    | <span> </span>
    b 1mgCash
    | <span> </span> of Rs. {{'%0.2f' % order.payment_summary.cashback_earned}} with this order. We will send you a confirmation after it is successfully credited. Please note,
    ol
        li 1mgCash will be credited 7 days after your complete order is delivered.
        li 1mgCash will not be credited in case a return request is initiated for the order.