if order.payment_summary.mode|lower == 'cod' and 'prescription order' not in order.device|lower
   .subtle  You can now Pay Online for your order by clicking&nbsp;
       a(href="https://tdgx9.app.goo.gl/?link=https://www.1mg.com/order/history&apn=com.aranoah.healthkart.plus&amv=115&al=1mg://www.1mg.com/history&afl=https://www.1mg.com/order/history&isi=554578419&ibi=com.aranoah.healthkart&ifl=https://www.1mg.com/order/history") here
       span . Online Payment is valid till the order is packed by the Pharmacists.