.strip.footer
  div.txt-support.link-email
    a.txt-help(href="{{base_url or Hkp_url}}/contactUs") Need Help?
      span Click to contact us for queries
  .social-links
    a.social-link(href='https://www.facebook.com/1mgOfficial', target='_blank', title='Like us on Facebook',rel='nofollow',data-value='Facebook')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/366901c5-10c3-4653-baa5-2935a2e5e318.png')
    a.social-link(href='https://twitter.com/1mgofficial',target='_blank',title='Follow us on Twitter', rel='nofollow', data-value='Twitter')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/6b839a9c-e65f-40de-9de7-4f0e77f6d04d.png')
    a.social-link(href='https://plus.google.com/+Healthkartplus', target='_blank', title='Follow us on Google+', rel='nofollow', data-value='Google')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/b44f224a-d39a-4894-8c1c-91482edc756a.png' width="40")
    a.social-link(href='https://www.linkedin.com/company/5230742', target='_blank', title='Visit us on LinkedIn', rel='nofollow', data-value='LinkedIn')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/099b0ec7-e30a-4d7f-a7e6-d8a8e2a27b20.png')