.new-footer
    table(align='left', cellpadding="0", cellspacing="0")
      tbody
        tr
          td
            table(align='center', cellpadding="0", cellspacing="0")
              tbody
                tr(align='center')
                  td 
                    img(src='{{base_url or Hkp_url}}/images/emails/reliable.png', alt='reliable-icon')
                tr(align='center')
                  td
                    label(for='reliable') Reliable
          td
            table(align='center', cellpadding="0", cellspacing="0")
              tbody
                tr(align='center')
                  td
                    img(src='{{base_url or Hkp_url}}/images/emails/secure.png', alt='secure-icon')
                tr(align='center')
                  td
                    label(for='secure') Secure
          td
            table(align='center', cellpadding="0", cellspacing="0")
              tbody
                tr(align='center')
                  td
                    img(src='{{base_url or Hkp_url}}/images/emails/affordable.png', alt='affordable-icon')
                tr(align='center')
                  td
                    label(for='affordable') Affordable