.strip.footer
  div.txt-support.link-email
    .section-title.darker.section-title-large
        a.txt-help(href="{{base_url or Hkp_url}}/help") For Assistance
  div.txt-support.link-email
    span Please contact us at
    a.txt-help(href="{{base_url or Hkp_url}}/help") 0124-4166666,
    a.txt-help(href="mailto:care@1mg.com") care@1mg.com
  .social-links
    a.social-link(href='https://www.facebook.com/1mgOfficial', target='_blank', title='Like us on Facebook',rel='nofollow',data-value='Facebook')
      img(src='{{base_url or Hkp_url}}/images/emails/facebook.png')
    a.social-link(href='https://twitter.com/1mgofficial',target='_blank',title='Follow us on Twitter', rel='nofollow', data-value='Twitter')
      img(src='{{base_url or Hkp_url}}/images/emails/twitter.png')
    a.social-link(href='https://plus.google.com/+Healthkartplus', target='_blank', title='Follow us on Google+', rel='nofollow', data-value='Google')
      img(src='{{base_url or Hkp_url}}/images/emails/google-plus.png')
    a.social-link(href='https://www.linkedin.com/company/5230742', target='_blank', title='Visit us on LinkedIn', rel='nofollow', data-value='LinkedIn')
      img(src='{{base_url or Hkp_url}}/images/emails/linkedin.png')