.div-header
  .div-main
    a.link-logo(href='{{base_url or Hkp_url}}')
      img.email-logo(src='{{base_url or Hkp_url}}/images/emails/email_temp_logo.png')
    a.m-bottom(href='{{base_url or Hkp_url}}')
      img(src='{{base_url or Hkp_url}}/images/emails/pharmacy-icon.png')
      span.txt-verticals Pharmacy
    a.m-bottom(href='{{base_url or Hkp_url}}/labs')
      img(src='{{base_url or Hkp_url}}/images/emails/labs-icon.png')
      span.txt-verticals Lab Tests
    a.m-bottom(href='{{base_url or Hkp_url}}/online-consultation')
      img(src='{{base_url or Hkp_url}}/images/emails/econsult-icon.png')
      span.txt-verticals eConsult
  .separator-dark
