.div-header
  .div-main
    a.link-logo(href='{{base_url or Hkp_url}}')
      img.email-logo(src='https://onemg.gumlet.io/assets/2c20d3ec-dd87-11eb-aa99-026244113826.png?format=auto')
    a.m-bottom(href='{{base_url or Hkp_url}}')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/02a97927-c4a1-4d8a-98f9-291fddb49a90.png' width="34")
      span.txt-verticals Pharmacy
    a.m-bottom(href='{{base_url or Hkp_url}}/labs')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/463dd2ea-fefb-4e70-96de-d8e6d24d3a44.png' width="34")
      span.txt-verticals Lab Tests
    a.m-bottom(href='{{base_url or Hkp_url}}/online-consultation')
      img(src='https://s3.ap-south-1.amazonaws.com/1mg-auto-resize-image/pharmacy-production-rxs/1a58d821-8338-492d-b333-afd710c63427.png' width="34")
      span.txt-verticals eConsult
  .separator-dark
