div.strip.header
  a.logo(href="{{base_url or Hkp_url}}")
    img(src="{{base_url or Hkp_url}}/images/emails/1mg_logo.png", alt="1mg.com")
  .download-app
    a.button(href=" http://ad.apsalar.com/api/v1/ad?re=1&st=747235006757&h=23c948a364ec00ad6f346f59f49429df7bc262f3") Download App

