.card
    .need-help
      .section-title Need help with your subscription?
      .row
        .left-col
          img.icon(src='{{base_url}}/images/emails/subscription-phone.png' alt="")
          span.number 0124-4166666
        .right-col
          img.icon(src='{{base_url}}/images/emails/subscription-email.png' alt="")
          a(href="mailto:care@1mg.com")
            span care@1mg.com
              