<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to Abbott Shop</title>
</head>

<body yahoo style="width: 100%; margin: 0; padding: 0;">
    <a href="https://abbott.1mg.com">
        <img src="{{base_url or Hkp_url}}/images/emails/abbott-signup-email.jpg" alt="signup email" style="margin: 0 auto;display: block;"/>
    </a>
</body>
</html>