extends ./layouts/onemg.jade
block content
    .card
        .card-content
            b Hello {{name}},

            .subtle
                p We have received a request to reset your password. Please click ‘Forgot Password’ to reset. This link takes you to a secure page where you can change your password. In case the link does not work, please copy and paste the URL into your browser address bar.

                    |<br>
                    a.reset-link(href="{{reset_password_link}}"){{reset_password_link}}
                br

                p If you believe an unauthorized person has accessed your account, please reset your password immediately. In case you continue to face problems, write to us at
                    |<span> </span>
                    a(href="mailto:care@1mg.com")
                        span.special-text care@1mg.com
                    | .

    include includes/regards