extends ./layouts/onemg.jade
block content
  .card
    .card-content
      b Dear {{merchant_name}} Customer,
      .subtle
        p You have successfully signed up for ‘Second Opinion Consultation Service’ powered by 1mg. Click on the below link to set a password to login to your account directly.
        a.reset-link(href="{{reset_password_link}}"){{reset_password_link}}
        p Use the same email id as your username the next time.
      .regards
        div Thanks,
        div {{merchant_name}} and 1mg Team