extends ./layouts/onemg.jade
block content
    - var email_header_heading = 'Order Packed'
    - var email_header_subheading = 'Ready for Dispatch'
    - var email_header_status = 'success'
    - var email_header_need_help = 'help'
    - var email_header_cta_type = 'track'
    if order.eta and order.eta.eta_to
        - var email_header_eta_to = order.eta.eta_to|format_eta_timestamp
    if order.eta and order.eta.eta_from
        - var email_header_eta_from = order.eta.eta_from|format_eta_timestamp
    .card
        .card-content
            b Hello {{order.user.properties.name}}
            .subtle Your order {{order.order_id}} has been packed by our pharmacy partner {{order.shipment_detail.vendor.name}} and is ready for dispatch.
        include includes/email_header_new
    if order.order_lines
        .card
            .card-content
                include includes/order_lines.jade
                .separator-light
                include includes/cart_summary.jade

    include includes/refund_due.jade
    include includes/cashback_eligible.jade
    include includes/order_address.jade
    include includes/regards