<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Welcome to 1mg</title>
  </head>

  <body yahoo style="width: 100%; margin: 0; padding: 0;">
    <div class="signup-wrapper" style="text-align: center;">
      <div class="signup-content" style="width: 100%;margin: 0 auto;max-width:520px;/* padding: 20px; */border: 1px solid #00000011;">
        <div class="header-box" style="padding: 20px;background: #ffffff;">
          <div class="salutation" style="font-size: 1.8em;color:#367d8d;color: #367d8d;line-height: 50px;">
            Hi {{name}},
          </div>
          <div style="font-size: 1.1em;line-height: 30px;padding-top: 20px;color:black;">
            Thank you for signing up on 1mg. As promised, we've <span style="color:#367d8d;">credited ₹50 worth of 1mgCash</span> into your account. Read on to find out how you can use them and save on medical bills.
          </div>
        </div>

        <div class="box-1" style="padding: 20px 30px;background-color:#f4fdfe;margin: 10px 0;color:black;text-align:center;">
          <div class="box-image" style="text-align: center; padding: 5px;">
            <img src="{{base_url}}/images/emails/medicine-1mg.png" alt="1mg-logo" style="width: 20%; max-width: 966px;min-width: 80px;">
          </div>
          <div class="box-title" style="font-size: 1.5em;padding: 15px 0;">
            Medicine Info &amp; Ordering
          </div>
          <div class="box-content" style="font-size: 1.1em;line-height: 30px;">
            Read doctor-produced medicine information
            and <span style="color: #357b8c;">save up to 90%</span> by finding cheaper substitutes.
             Order genuine medicines online on 1mg and <span style="color: #357b8c;">get extra, flat 20% OFF</span> each time.
          </div>
          <div class="box-btn" style="padding-top: 20px; cursor: pointer;">
            <a href="https://ad.apsalar.com/api/v1/ad?re=0&amp;st=558492871582&amp;h=e53ece41407a9413b186ae455ffb6037d62cd866" target="_blank"><button type="button" style="padding: 10px;background: #2f7492;color: white;font-size: 1em;border-radius: 5px;border: 1px solid #2f7492;cursor: pointer; outline: none;">SEARCH &amp; ORDER</button></a>
          </div>
        </div>

        <div class="box-2" style="padding: 20px 30px;background-color: #fffbef;margin: 10px 0;color:black;text-align:center;">
          <div class="box-image" style="text-align: center;padding: 5px;">
            <img src="{{base_url}}/images/emails/labs-1mg.png" alt="1mg-logo" style="width: 20%; max-width: 966px;min-width: 80px;">
          </div>
          <div class="box-title" style="font-size: 1.5em;padding: 15px 0;">
            Lab Tests
          </div>
          <div class="box-content" style="font-size: 1.1em;line-height: 30px;">
            Book tests and health packages online from certified labs, get samples picked up from home, view reports online and <span style="color: #357b8a;">save as much as 80% each time.</span>
          </div>
          <div class="box-btn" style="padding-top: 20px; cursor: pointer;">
            <a href="https://ad.apsalar.com/api/v1/ad?re=0&amp;st=560239789108&amp;h=d85f522a313c94f98cc98d1c7a94a49437591dda" target="_blank"><button type="button" style="padding: 10px;background: #2f7492;color: white;font-size: 1em;border-radius: 5px;border: 1px solid #2f7492;cursor: pointer; outline: none;">BOOK ONLINE</button></a>
          </div>
        </div>

        <div class="box-3" style="padding: 20px 30px;background-color: #f9f9f9;margin: 10px 0;color:black;text-align:center;">
          <div class="box-image" style="text-align: center;padding: 5px;">
            <img src="{{base_url}}/images/emails/doctors-1mg.png" alt="1mg-logo" style="width: 20%; max-width: 966px;min-width: 80px;">
          </div>
          <div class="box-title" style="font-size: 1.5em;padding: 15px 0;">
            Doctor Consultations
          </div>
          <div class="box-content" style="font-size: 1.1em;line-height: 30px;">
            Chat directly with relevant, <span style="color: #367d8d;">verified, specialist doctors,</span> and <span style="color:#367d8d;">get personalized advice online.</span> Earn 100% cashback on your first consultation with coupon FIRST100.
          </div>
          <div class="box-btn" style="padding-top: 20px; cursor: pointer;">
            <a href="https://ad.apsalar.com/api/v1/ad?re=0&amp;st=561986706634&amp;h=3eca380897ff64cd79461d6bdba20f6acfb5ba3b" target="_blank"><button type="button" style="padding: 10px;background: #2f7492;color: white;font-size: 1em;border-radius: 5px;border: 1px solid #2f7492;cursor: pointer; outline: none;">CONSULT ONLINE</button></a>
          </div>
        </div>

        <div class="footer-box" style="padding:10px;color:black;text-align:center;background:  #ffffff;">
          <div style="font-size: 1.1em;line-height: 30px;color:  #555;">
            If you have any questions, feel free to reply to this email and we’ll be happy to assist.
          </div>
          <div class="box-image" style="text-align: center; padding: 40px;">
            <img src="{{base_url}}/images/emails/1mg-logo-email.jpg" alt="1mg-logo" style="width: 25%; max-width: 966px;min-width: 80px;">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
